<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="assets/images/logos/tablogo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <footer class="footer">
        <div id="footer-body">
            <div id="company-info">
                <h3>Ace Events Management</h3>
                <p>Ace Events Management is a leading corporate event management company operating nationally from Nashik and other cities in India</p>
                <h3>Contact info</h3>
                <p>Address: 5th Floor, Shop no.522 Roongta Business Point, Ambad link road, Kamatwade Nashik</p>
                <p>Email:<span>skservices@gmail.com</span></p>

                <div class="contacts">
                    <div id="contact-info">
                        <div id="contact-icon"><ion-icon name="call"></ion-icon></div>
                        <div id="contact-num">
                            <p>WhatsApp</p>
                            <a>80878 21091</a>
                        </div>
                    </div>
                    <div id="contact-info">
                        <div id="contact-icon"><ion-icon name="call"></ion-icon></div>
                        <div id="contact-num">
                            <p>Call us now</p>
                            <a>93704 83733</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu-list">
                <h3>Company</h3>
                <a href="/">Home</a>
                <a href="about">About</a>
                <a href="services">Services</a>
                <a href="appointment">Appointment</a>
                <a href="contact">Contact Us</a>
            </div>
            <div id="services-list">
                <h3>Services</h3>
                <a>Events</a>
                <a>Exhibitions</a>
                <a>Brand Activation</a>
                <a>National Government Events</a>
                <a></a>
            </div>
            <div id="medias-list">
                <div id="media-icons">
                    <a href="https://www.instagram.com/ase_event_managers/?igsh=bDU2Z2FiMTJqNTF5"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href=""> <ion-icon name="logo-facebook"></ion-icon></a>
                    <a href=""> <ion-icon name="logo-whatsapp"></ion-icon></a>
                    <a href=""><ion-icon name="logo-github"></ion-icon></a>         
                </div>
            </div>
        </div>
        <div id="line"></div>
        <div id="rights">
            <h6>© 2023 Skservices Events Management Company. All Rights Reserved. <span>Event Company Nashik</span> - <span>privacy policy</span></h6>
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>