<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AceEventManagement</title>
    <link rel="icon" href="assets/images/logos/tablogo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/body.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <%- include('header.ejs') %>

        <div class="container">
            <div id="interface">
                <video src="assets/videos/bg-inters.mp4" autoplay loop preload="" muted></video>
                <div id="interface-text">
                    <h3>WE ARE THE BEST</h3>
                    <h1 class="animate__fadeIn">EVENT MANAGEMENT COMPANY</h1>
                    <h3>Your Partner in Creating Unforgettable Events!</h3>
                </div>
            </div>
        </div>

        <div class="s-container">
            <h1>Our Services</h1>
            <p> Welcome to Ace Event Management, where we transform your vision into unforgettable events. Our
                comprehensive
                event management services cover everything from meticulous planning and venue selection to tantalizing
                catering, captivating entertainment, and breathtaking decor.</p>
            <div id="s-cards">
                <div id="s-card">
                    <div id="s-icon"><ion-icon name="today-outline"></ion-icon></div>
                    <div id="s-text">
                        <h3>Event Planning</h3>
                        <p>Leave the details to us! From concept to execution, we handle every aspect of event planning,
                            ensuring a stress-free and enjoyable experience for our clients.</p>
                    </div>
                </div>
                <div id="s-card">
                    <div id="s-icon"><ion-icon name="navigate-circle-outline"></ion-icon></div>
                    <div id="s-text">
                        <h3>Venue Selection</h3>
                        <p>Finding the perfect venue is crucial for a successful event. Our experts will scout and
                            secure the ideal location that aligns with your vision and accommodates your guests
                            comfortably.</p>
                    </div>
                </div>
                <div id="s-card">
                    <div id="s-icon"><ion-icon name="restaurant-outline"></ion-icon></div>
                    <div id="s-text">
                        <h3>Catering and Hospitality</h3>
                        <p>Delight your guests with exquisite cuisine and impeccable service. Our catering partners
                            offer a diverse range of menu options to suit any palate, making your event an
                            unforgettable.</p>
                    </div>
                </div>
                <div id="s-card">
                    <div id="s-icon"><ion-icon name="happy-outline"></ion-icon></div>
                    <div id="s-text">
                        <h3>Entertainment</h3>
                        <p>From live performances to engaging activities, we bring your event to life with top-notch
                            entertainment options that cater to your audience and theme.</p>
                    </div>
                </div>
                <div id="s-card">
                    <div id="s-icon"><ion-icon name="logo-designernews"></ion-icon></div>
                    <div id="s-text">
                        <h3>Decor and Design</h3>
                        <p>Create an ambiance that resonates with your event's theme. Our skilled designers will
                            transform any space into a captivating and visually stunning environment.</p>
                    </div>
                </div>
                <div id="s-card">
                    <div id="s-icon"><ion-icon name="people-outline"></ion-icon></div>
                    <div id="s-text">
                        <h3>Bouncer and Security</h3>
                        <p>Ensure the safety and security of your event with our trained bouncers and security
                            personnel.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="w-container">
            <div id="w-section">
                <div id="w-text">
                    <h1>Why Choose Us?</h1>
                    <p>The Ace Event Management, where we transform your vision into unforgettable events. Our
                        comprehensive event management services cover everything from meticulous planning and venue
                        selection to tantalizing catering, captivating entertainment, and breathtaking decor. With a
                        personalized touch, experienced professionals, and an unwavering commitment to detail, we make
                        every occasion a seamless and extraordinary experience. Elevate your events with Ace Event
                        Management. where every moment is crafted to perfection.</p>
                </div>
                <div id="w-video">
                    <div id="w-video-card"><ion-icon name="play-circle-outline"></ion-icon></div>
                </div>
            </div>
        </div>

        <div class="p-container">
            <div class="slider-container">
                <div class="slider-wrapper" id="slider">
                    <div class="slider-item item1"><img src="assets/images/partners/Naredco Nashik Logo 2.svg" alt="">
                    </div>
                    <div class="slider-item item2"><img src="assets/images/partners/MACCIA LOGO (R) PNG 2.svg" alt="">
                    </div>
                    <div class="slider-item item3"><img src="assets/images/partners/Globiz Forum_final_Logo 2.svg"
                            alt=""></div>
                    <div class="slider-item item4"><img src="assets/images/partners/BNI.png" alt=""></div>
                    <div class="slider-item item5"><img src="assets/images/partners/4 1.svg" alt=""></div>
                    <div class="slider-item item6"><img
                            src="assets/images/partners/WhatsApp Image 2024-01-15 at 12.35 3.svg" alt=""></div>
                </div>
                <div class="arrow left" onclick="rotateSlider(1)">❮</div>
                <div class="arrow right" onclick="rotateSlider(-1)">❯</div>
            </div>
            <div id="p-text">
                <h1>Our Proud Collaborations</h1>
                <p>At Ace Event Management, we take pride in our diverse portfolio of successful collaborations with
                    esteemed
                    organizations. Our commitment to excellence has led us to work with industry leaders, creating
                    memorable events that reflect the unique essence of each brand. Some of the prestigious companies
                    we've had the pleasure of collaborating with include: </p>
            </div>
        </div>

        <div class="work-container">
            <h1>Our Pervious Events </h1>
            <p>Browse through our portfolio of successful collaborations with esteemed organizations, including Naredko
                EXPO, 27th National Youth Festival. These partnerships showcase our ability to tailor our services to
                meet the distinctive needs of various industries.</p>
            <div id="work-cards">
                <div id="work-card">
                    <div id="work-img"><img src="assets/images/our work/nima-2.jpg" alt=""></div>
                    <div id="work-body">
                        <h3>NIMA Power 2023</h3>
                        <p>Step into a world of endless possibilities at NIMA Power, where business meets innovation in
                            an electrifying showcase of cutting-edge products, services, and ideas.</p>
                    </div>
                </div>
                <div id="work-card">
                    <div id="work-img"><img src="assets/images/our work/maccia-1.jpg" alt=""></div>
                    <div id="work-body">
                        <h3>MITEXPO 2023</h3>
                        <p>With years of experience in the industry, our team brings a wealth of knowledge and
                            creativity to every event we undertake.</p>
                    </div>
                </div>
                <div id="work-card">
                    <div id="work-img"><img src="assets/images/our work/udyogshikar.jpg" alt=""></div>
                    <div id="work-body">
                        <h3>UdyogShikhar</h3>
                        <p>Udyog Shikhar Busniess Beyond 100 years The event related to exploring the future of business
                            and networking. Secret makes common people achieve uncommon results.</p>
                    </div>
                </div>
                <div id="work-card">
                    <div id="work-img"><img src="assets/images/our work/shilpa.jpg" alt=""></div>
                    <div id="work-body">
                        <h3>Shilpa Estates</h3>
                        <p>Shilpa Estates, the foremost gathering for visionaries, professionals, and enthusiasts in the
                            realm of land development.</p>
                    </div>
                </div>
                <div id="work-card">
                    <div id="work-img"><img src="assets/images/our work/naredko-5.JPG" alt=""></div>
                    <div id="work-body">
                        <h3>Naredko & Homethon</h3>
                        <p>Naredko & Homethon, the ultimate showcase for visionaries, professionals, and enthusiasts in
                            the field.</p>
                    </div>
                </div>
                <div id="work-card">
                    <div id="work-img"><img src="assets/images/our work/yourh.JPG" alt=""></div>
                    <div id="work-body">
                        <h3>27th National Youth Festival 2024</h3>
                        <p>27th National Youth Festival! This grand gathering, bringing together the energy and
                            enthusiasm of young minds from across the nation.</p>
                    </div>
                </div>
                <div id="work-card">
                    <div id="work-img"><img src="assets/images/our work/IMG_7433.JPG" alt=""></div>
                    <div id="work-body">
                        <h3>BNI EXPO 2024</h3>
                        <p>BNI Expo 2024, the ACE Event Managers Provided registration team in the exhibition our
                            registration team done registration greatly.</p>
                    </div>
                </div>
            </div>
        </div>

        <%- include('footer.ejs') %>

            <script src="js/script.js"></script>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
            <script src="//code.tidio.co/vydxjcj0y4bcymojtopo2lnhibdpcagd.js" async></script>
</body>

</html>