.container {
    width: 100%;
    height: 70vh;
}

.container #interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--btext-color);
    overflow: hidden;
}

.container #interface video {
    min-width: 100%;
    min-height: 120%;
}

.container #interface #interface-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
}

.container #interface h3 {
    color: var(--ytext-color);
    margin: 0;
    padding: 0;
}

.container #interface h1 {
    font-family: "PT Serif", serif;
    font-size: 4rem;
    color: var(--wtext-color);
    margin: 0;
    padding: 0;
    transition: 3s;
}

.s-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 130vh;
    gap: 1rem;
}

.s-container h1 {
    color: var(--ytext-color);
    margin: 0;
}

.s-container p {
    width: 50%;
    text-align: center;
    font-family: "PT Serif", serif;
    color: var(--wtext-color);
    margin: 0;
    margin-bottom: 1rem;
}

.s-container #s-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    height: 70%;
    gap: 1rem;
}

.s-container #s-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 49%;
    border-radius: 5%;
    background-color: var(--bg-color);
    gap: 1rem;
    transition: 0.5s;
}

.s-container #s-card:hover {
    border: solid;
    border-color: var(--ytext-color);
}

.s-container #s-card #s-icon {
    width: 40%;
    height: 35%;
}

.s-container #s-card #s-icon ion-icon {
    width: 100%;
    height: 100%;
    color: var(--ytext-color);
}

.s-container #s-card #s-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.s-container #s-card #s-text h3 {
    margin: 0;
    padding: 0;
    color: var(--ytext-color);
}

.s-container #s-card #s-text p {
    color: var(--wtext-color);
    width: 80%;
    font-family: "PT Serif", serif;
    margin: 0;
}

.w-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-color: var(--bg-color);

}

.w-container #w-section {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 85%;
    border-radius: 2rem;
}

.w-container #w-section #w-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 1rem;
}

.w-container #w-section #w-text h1 {
    width: 80%;
    color: var(--ytext-color);
    margin: 0;
    font-size: 3rem;
}

.w-container #w-section #w-text p {
    width: 80%;
    font-family: "PT Serif", serif;
    margin: 0;
    color: var(--wtext-color);
}

.w-container #w-section #w-video {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 100%;
}

.w-container #w-section #w-video #w-video-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70%;
    background-color: gray;
    border-radius: 2rem;
}

.w-container #w-section #w-video #w-video-card ion-icon {
    color: var(--wtext-color);
    width: 40%;
    height: 30%;
}

.p-container {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    width: 50%;
}

.slider-wrapper {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--wtext-color);
    color: #fff;
    font-size: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.item1 {
    transform: rotateY(0deg) translateZ(200px);
}

.item2 {
    transform: rotateY(60deg) translateZ(200px);
}

.item3 {
    transform: rotateY(120deg) translateZ(200px);
}

.item4 {
    transform: rotateY(180deg) translateZ(200px);
}

.item5 {
    transform: rotateY(240deg) translateZ(200px);
}

.item6 {
    transform: rotateY(300deg) translateZ(200px);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-0%);
    cursor: pointer;
    font-size: 30px;
    color: var(--wtext-color);
}

.arrow.left {
    left: 30%;
}

.arrow.right {
    right: 30%;
}

.p-container #p-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 1rem;
}

.p-container #p-text h1 {
    width: 80%;
    color: var(--ytext-color);
    margin: 0;
    font-size: 3rem;
}

.p-container #p-text p {
    width: 80%;
    font-family: "PT Serif", serif;
    margin: 0;
    color: var(--wtext-color);
}

.work-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 200vh;
    background-color: var(--bg-color);
    gap: 1rem;
}

.work-container h1 {
    width: 89%;
    text-align: center;
    color: var(--ytext-color);
    margin: 0;
}

.work-container p {
    color: var(--wtext-color);
    text-align: center;
    width: 50%;
    margin: 0;
    font-family: "PT Serif", serif;
    margin-bottom: 20px;
}

.work-container #work-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
    gap: 1rem;
}

.work-container #work-cards #work-card {
    width: 32%;
    height: 33%;
    background-color: var(--bbg-color);
    border-radius: 1rem;
    overflow: hidden;
}


.work-container #work-cards #work-img {
    width: 100%;
    height: 65%;
    background-color: white;
    overflow: hidden;
}

.work-container #work-cards #work-img img {
    max-width: 100%;
    max-height: 140%;
}

.work-container #work-cards #work-body {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 35%;
    padding-top: 10px;
    gap: 5px;
}

.work-container #work-cards #work-body h3 {
    width: 90%;
    margin: 0;
    color: var(--ytext-color);
}

.work-container #work-cards #work-body p {
    width: 90%;
    font-family: "PT Serif", serif;
    color: var(--wtext-color);
    margin: 0;
    text-align: start;
}

@media screen and (max-width: 768px) {
    .container #interface h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    .container #interface h3 {
        text-align: center;
    }

    .s-container {
        height: auto;
        padding: 1.5rem 0rem 1.5rem 0rem;
    }

    .s-container p {
        width: 95%;
    }

    .s-container #s-cards {
        flex-direction: column;
    }

    .s-container #s-card {
        height: 50vh;
        width: 100%;
    }

    .w-container {
        height: auto;
    }

    .w-container #w-section {
        flex-direction: column;
        width: 90%;
    }

    .w-container #w-section #w-text {
        width: 100%;
        height: 50vh;
        text-align: center;
    }

    .w-container #w-section #w-text h1 {
        width: 100%;
        text-align: center;
    }

    .w-container #w-section #w-video {
        width: 100%;
        height: 50vh;
        justify-content: center;
    }

    .p-container {
        height: auto;
        flex-direction: column;
    }

    .slider-container {
        height: 50vh;
    }

    .p-container #p-text {
        width: 90%;
        height: 50vh;
        text-align: center;
        align-items: center;
    }

    .p-container #p-text h1 {
        text-align: center;
        width: 100%;
    }

    .arrow.left {
        left: 0%;
    }

    .arrow.right {
        right: 0%;
    }

    .work-container {
        height: auto;
        flex-direction: column;
        padding: 1.5rem 0rem 1.5rem 0rem;
    }

    .work-container h1 {
        text-align: center;
    }

    .work-container p {
        width: 70%;
    }

    .work-container #work-cards {
        flex-direction: column;
    }

    .work-container #work-cards #work-card {
        width: 100%;
    }

    .work-container #work-cards #work-body {
        padding: 1rem 0rem 1rem 0rem;
    }
}